<!DOCTYPE html>
<html>

<head>
    <title>Youtube Timeline Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <noscript>
        <h2>Seems your browser doesn't
            supportJavascript! Websocket relies on Javascript being enabled.
            Pleaseenable Javascript and reload this page!
        </h2>
    </noscript>

    <div class="container modified">
        <!-- Header section -->
        <header>
            <span>Youtube Timeline Generator</span> <span class="github-username">Github:
                <a href="http://github.com/amarlearning" target="_blank">@amarlearning</a>
            </span>
        </header>
        <!-- Jumbotron -->
        <div class="jumbotron extension">
            <h2>Youtube Timeline Generator</h2>
            <p>
                Generating youtube video <strong>summary</strong> & <strong>timeline</strong> description using LLMs.
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </p>
            <div class="button-link">
                <a href="https://github.com/amarlearning/youtube-timeline-generator" target="_blank">
                    <button type="button" class="course btn btn-lg btn-success">Github
                        Code Link</button>
                </a>
            </div>
            <p class="part">Powered by LLMs &amp; Machine Mischief</p>
        </div>
        <section class="application-section">
            <div id="main-content" class="container">
                <!-- Form section -->
                <form class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="url" id="video_url" name="video_url" class="form-control"
                                placeholder="youtube video link.." required pattern="https?://www\.youtube\.com/.*">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-md btn-primary custom-badge-button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Response section -->
                <div id="response">
                    <h3 class="title">Summary</h3>
                    <div id="summary" class="response-data">
                        <span class="copy-icon" data-copy-target="#summary-content">📋</span>
                        <div id="summary-content"></div>
                    </div>
                    <h3 class="title">Timeline</h3>
                    <div id="timeline" class="response-data">
                        <span class="copy-icon" data-copy-target="#timeline-content">📋</span>
                        <div id="timeline-content"></div>
                    </div>
                </div>
                <!-- Toast for text copied to clipboard -->
                <div id="copy-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
                    data-autohide="true" data-delay="5000">
                    <div class="toast-body">
                        Text copied to clipboard!
                    </div>
                </div>
            </div>
        </section>
        <div class="block"></div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container modified">
            <p class="text-footer">
                Assembled with <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet"
                    xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;">
                    <path
                        d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
                        fill="#e25555"></path>
                </svg> &amp; <code>CTRL+C & V</code>
            </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
</body>

</html>