<!DOCTYPE html>
<html>

<head>
    <title>LLM Video Timeline Description</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="static/style.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <h1 class="mt-5">LLM Video Timeline Description</h1>
        <!-- Form to take video url input -->
        <form class="mt-4">
            <div class="mb-3">
                <input type="url" id="video_url" name="video_url" class="form-control" placeholder="Youtube video link"
                    required pattern="https?://www\.youtube\.com/.*">
            </div>
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <div id="spinner" class="spinner-border text-primary ml-20" style="margin-left: 15px; display: none">
                </div>
            </div>
        </form>
        <!-- Resposne contianer -->
        <div id="response">
            <h3 class="title">Summary</h3>
            <div id="summary" class="response-data">
                <span class="copy-icon" data-copy-target="#summary-content">📋</span>
                <div id="summary-content"></div>
            </div>
            <h3 class="title">Timeline</h3>
            <div id="timeline" class="response-data">
                <span class="copy-icon" data-copy-target="#timeline-content">📋</span>
                <div id="timeline-content"></div>
            </div>
        </div>
        <!-- Toast for copy to clipboard -->
        <div id="copy-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true"
            data-delay="5000">
            <div class="toast-header">
                <strong class="mr-auto">Agent</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Text copied to clipboard.
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
</body>

</html>